{% extends 'sec_base.html' %}


{% block maincontent %}
<div class="main_content">
    <div class="title_box">
        <h3>Histórico de pagamentos</h3>
    </div>
    <div class="patient_info" style="width: 90%; margin: auto;">
        <strong>Paciente: </strong><i>{{name}}</i>
    </div>
    <div class="payment_box" style="display: flex; width: 90%; margin: auto; margin-top: 30px; height: 35vh; font-size: small;">
        <div class="not_payed_div" style="background-color: rgb(255, 209, 209); position: relative; width: 70%; border-radius: 10px; overflow-y: scroll;">
            <h4 style="background-color: rgb(229, 229, 229); text-align: center;">Inadimplências</h4>
            <form action="{% url 'register_payment' uuid %}" method="POST" id="not_payed" name="payment_form">
                {% csrf_token %}
                {% for item in not_payed %}
                <input type="number" step="0.01" name="{{item}}" id="" placeholder="Valor" style="width: 70px; margin-left: 20px; font-size: x-small; position: relative; margin-left: 30px;"><lr style="margin-left: 30px;">{{item}}<lr/>
                <br>
                <br>
                {% endfor %}
            </form>
        </div>
        <div class="payed_div" style="background-color: rgb(175, 255, 175); position: relative; width: 70%; margin-left: 50px; border-radius: 10px; overflow-y: scroll;">
            <h4 style="background-color: rgb(229, 229, 229); text-align: center;">Histórico de pagamento</h4>

            {% for item in payed %}
            <li style="margin-left: 20px;">{{item}}</li>
            {% endfor %}

        </div>
    </div>
    <div class="button_box" style="width: 90%; margin: auto; margin-top: 30px;">
        <button type="submit" class="btn btn-success" form="not_payed">Resolver pendência</button>
    </div>
</div>
{% endblock %}